<!DOCTYPE html>
<html lang="en">
<head>
  <title>Prudence Consultancy - Home page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.css">

  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/ionicons.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="css/jquery.timepicker.css">

  <link rel="stylesheet" href="css/calendar.css">

  <link rel="stylesheet" href="css/flaticon.css">
  <link rel="stylesheet" href="css/icomoon.css">
  <link rel="stylesheet" href="css/style.css">
  <!--<link rel="shortcut icon" type="image/x-icon" href="/images/icons/icon2.png" />-->

  <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
  <script
          src="https://code.jquery.com/color/jquery.color-2.1.2.min.js"
          integrity="sha256-H28SdxWrZ387Ldn0qogCzFiUDDxfPiNIyJX7BECQkDE="
          crossorigin="anonymous"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">برودينس استشارات | Prudence Consultancy </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
        <li class="nav-item"><a href="/services" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="/contact-us" class="nav-link">Contact</a></li>
        <li class="nav-item cta"><a href="/contact-us" class="nav-link" data-toggle="modal" data-target="#modalRequest"><span>Get a Quote</span></a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

<div class="hero-wrap">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="slider-text d-md-flex align-items-center" data-scrollax-parent="true">

      <div class="one-forth ftco-animate align-self-md-center" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4">We can help you in managing your
          <strong class="typewrite" data-period="3000" data-type='[ "Tax Consultation", "Book-Keeping", "Financial Accounting", "Auditing" ]'>
            <span class="wrap"></span>
          </strong>
        </h1>
        <p class="mb-md-5 mb-sm-3" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We at prudence consultancy have got you all covered.</p>
        <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="/services" class="btn btn-primary px-4 py-3">Checkout our services</a> <a href="/about" class="btn btn-primary btn-outline-primary px-4 py-3 know">Know about us</a></p>
      </div>
      <div class="one-half ftco-animate align-self-md-center" data-scrollax=" properties: { translateY: '70%' }">
            <div class="row calendar">
              <div class="col-lg-3 col-md-2"></div>
              <div class="col-lg-6 col-md-8 col-sm-12 calendar-left">
                <div class="hamburger">
                  <div class="burger-line"></div>
                  <!-- burger-line -->
                  <div class="burger-line"></div>
                  <!-- burger-line -->
                  <div class="burger-line"></div>
                  <!-- burger-line -->
                </div>
                <!-- hamburger -->
                <div class="num-date" data-number="28">1</div>
                <!--num-date -->
                <div class="day">THURSDAY</div>
                <!--day -->
                <div class="current-events">Today's Task
                  <br/>
                  <ul>
                    <li id='tax-date'>Day 09 Daily CSS Image</li>
                  </ul>
                  <!-- add-event -->

                </div>
              </div>
              <div class="col-lg-3 col-md-2"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section ftco-section-2">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3 class="heading-white">We Provide High Quality Services</h3>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-services">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">We are the leading low-cost service providers</h2>
        <span class="subheading">We have presence all over the GCC countries to help you solve all your business issues.</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-research"></span></div></div>
          <div class="media-body p-2 mt-3">
            <article>
              <h3 class="heading">VAT/ Taxation Services</h3>
              <p>Value Added Tax (VAT) is an indirect tax, also known as Consumption Tax as it is applied on consumption of taxable goods and services.  VAT is collected by the businesses on their Sales on behalf of the government and paid to government and/or set-off against the VAT-credit paid by the businesses on their purchases.  VAT is levied at each stage of supply chain, it is ultimately borne by the consumer.  VAT is applied on goods and services decided by the authorities, with the exception of food items, essential medicines, exports of goods and international services.  Other Services such as healthcare, education, sale and lease of residential property, finance and insurance are expected to be VAT-free.</p>
            </article>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-creativity"></span></div></div>
          <div class="media-body p-2 mt-3">
            <article>
              <h3 class="heading">Consultancy Services</h3>
              <p>PRUDENCE Consultants are qualified professionals to undertake the work of business related consultancy services.  If you are undertaking any project or has undergoing project, we can help you in carrying out the necessary work for your useful business decisions.</p>
            </article>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex align-self-stretch ftco-animate">
        <div class="media block-6 services d-block text-center">
          <div class="d-flex justify-content-center"><div class="icon"><span class="flaticon-market"></span></div></div>
          <div class="media-body p-2 mt-3">
            <article>
              <h3 class="heading">Accounting Services</h3>
              <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-wrap mt-5">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 img ftco-animate" style="background-image: url(images/about.jpg);">
      </div>
      <div class="col-md-6 d-flex">
        <div class="services-wrap">
          <div class="heading-section mb-5 ftco-animate">
            <h2 class="mb-2">Our Service Keeps you Happy</h2>
            <span class="subheading">Search Engine &amp; Social Media Optimization Experts</span>
          </div>
          <div class="list-services d-flex ftco-animate">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-pencil"></span>
            </div>
            <div class="text">
              <h3>Logo Branding</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
          <div class="list-services d-flex ftco-animate">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-web"></span>
            </div>
            <div class="text">
              <h3>Development</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
          <div class="list-services d-flex ftco-animate">
            <div class="icon d-flex justify-content-center align-items-center">
              <span class="icon-pie-chart"></span>
            </div>
            <div class="text">
              <h3>Online Marketing</h3>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url(images/bg_1.jpg);" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="6780">0</strong>
                <span>Happy Clients</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="4500">0</strong>
                <span>Running Projects</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="4200">0</strong>
                <span>Project Completed</span>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="320">0</strong>
                <span>Cups of Coffe</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-work">
  <div class="container-fluid">
    <div class="row justify-content-center mb-5 pb-5">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Our Portfolio</h2>
        <span class="subheading">We're Happy to share our complete Projects</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 ftco-animate">
        <div class="work-entry">
          <a href="#taxmodal" data-toggle="modal" class="img" style="background-image: url(images/vatTax.png);">
            <div class="text d-flex justify-content-center align-items-center">
              <div class="p-3">
                <span></span>
                <h3>VAT/ Taxation Consultancy</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="work-entry">
          <a href="#consultancymodal" data-toggle="modal" class="img" style="background-image: url(images/consultancy.jpg);">
            <div class="text d-flex justify-content-center align-items-center">
              <div class="p-3">
                <span></span>
                <h3>Consultancy Services</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="work-entry">
          <a href="#accountingmodal" data-toggle="modal" class="img" style="background-image: url(images/finance.jpeg);">
            <div class="text d-flex justify-content-center align-items-center">
              <div class="p-3">
                <span></span>
                <h3>Financial Consultancy</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="work-entry">
          <a href="#auditingmodal" data-toggle="modal" class="img" style="background-image: url(images/accounting.jpg);">
            <div class="text d-flex justify-content-center align-items-center">
              <div class="p-3">
                <span></span>
                <h3>Accounting Services</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="work-entry">
          <a href="#financialmodal" data-toggle="modal" class="img" style="background-image: url(images/auditing.jpg);">
            <div class="text d-flex justify-content-center align-items-center">
              <div class="p-3">
                <span></span>
                <h3>Auditing Services</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-4 ftco-animate">
        <div class="work-entry">
          <a href="#bussinessmodal" data-toggle="modal" class="img" style="background-image: url(images/outsourcing.jpg);">
            <div class="text d-flex justify-content-center align-items-center">
              <div class="p-3">
                <span></span>
                <h3>Business Process Outsourcing (BPO) Services</h3>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="ftco-quote">
  <div class="container">
    <div class="row">
      <div class="col-md-6 pr-md-5 aside-stretch py-5 choose">
        <div class="heading-section heading-section-white mb-5 ftco-animate">
          <h2 class="mb-2">Reasons for Choosing Us </h2>
        </div>
        <div class="ftco-animate">
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. Because there were thousands of bad Commas, wild Question Marks and devious Semikoli</p>
          <ul class="un-styled my-5">
            <li><span class="icon-check"></span>Consectetur adipisicing elit</li>
            <li><span class="icon-check"></span>Adipisci repellat accusamus</li>
            <li><span class="icon-check"></span>Tempore reprehenderit vitae</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 py-5 pl-md-5">
        <div class="heading-section mb-5 ftco-animate">
          <h2 class="mb-2">Get a Free Quote</h2>
        </div>
        <form class="ftco-animate" id="index-get-quote">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" id="username" class="form-control" placeholder="Full Name" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" id="email" class="form-control" placeholder="Email" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="phone" placeholder="Phone" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <textarea name="" id="message" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-primary py-3 px-5" id="submit-form">Get a Quote</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section testimony-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section ftco-animate">
        <h2 class="mb-2">Testimony</h2>
        <span class="subheading">Our Happy Customer Says</span>
      </div>
    </div>
    <div class="row justify-content-center ftco-animate">
      <div class="col-md-8">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text text-center">
                <p class="mb-5">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
                <p class="name">Dennis Green</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text text-center">
                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Dennis Green</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text text-center">
                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Dennis Green</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text text-center">
                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Dennis Green</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap p-4 pb-5">
              <div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-left"></i>
                    </span>
              </div>
              <div class="text text-center">
                <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Dennis Green</p>
                <span class="position">System Analytics</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="ftco-section-parallax">
  <div class="parallax-img d-flex align-items-center">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2>Subcribe to our Newsletter</h2>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in</p>
          <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-8">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <input type="submit" value="Subscribe" class="submit px-3">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Connect with us on social media</h2>
          <p>Get to know us better. Our social media platforms are a great way to learn about our organization. Follow us to be updated on latest news.</p>
        </div>
        <ul class="ftco-footer-social list-unstyled float-md-left float-lft ">
          <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
          <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4 ml-md-5">
          <h2 class="ftco-heading-2">Quick Links</h2>
          <ul class="list-unstyled">
            <li><a href="/" class="py-2 d-block">Home</a></li>
            <li><a href="/about" class="py-2 d-block">About</a></li>
            <li><a href="/services" class="py-2 d-block">Services</a></li>
            <li><a href="/contact-us" class="py-2 d-block">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Contact Info</h2>
          <div class="block-23 mb-3">
            <ul>
              <li><span class="icon icon-map-marker"></span><span class="text">Office # 31, Plot 54, Behind RAK Bank , M-11, Musaffah Industrial Area, Abu Dhabi, UAE.</span></li>
              <li><a href="#"><span class="icon icon-phone"></span><span class="text">+971-50-5673469, +971-52-1611341, +971-55-9518248</span></a></li>
              <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@prudenceconsultancy.com</span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">

        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
      </div>
    </div>
  </div>
</footer>



<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<!-- Modal -->
<div class="modal fade" id="modalRequest" tabindex="-1" role="dialog" aria-labelledby="modalRequestLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalRequestLabel">Request a Quote</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" id="modalForm">
          <div class="form-group">
            <!-- <label for="appointment_name" class="text-black">Full Name</label> -->
            <input type="text" class="form-control" id="appointment_name" placeholder="Full Name" required>
          </div>
          <div class="form-group">
            <!-- <label for="appointment_email" class="text-black">Email</label> -->
            <input type="email" class="form-control" id="appointment_email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <!-- <label for="appointment_date" class="text-black">Date</label> -->
            <input type="text" class="form-control" id="appointment_phone_number" placeholder="Phone Number" required>
          </div>
          <div class="form-group">
            <!-- <label for="appointment_message" class="text-black">Message</label> -->
            <textarea name="" id="appointment_message" class="form-control" cols="30" rows="10" placeholder="Message"></textarea>
          </div>
          <div class="form-group">
            <input type="submit" value="Get a Quote" class="btn btn-primary">
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="submitted" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Submitted</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="sendmail-failed"><i class="far fa-check-circle" style="color: #1e7e34;"></i> Your details have been submitted successfully.</p>
      </div>
      <div class="modal-footer">
        <button type="button" id="modal-close-button" class="btn btn-danger" data-dismiss="modal" style="border-radius: 7px">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal taxmodal -->
<div class="portfolio-modal modal fade" id="taxmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <!-- Project Details Go Here -->
            <h2 class="text-uppercase">VAT/ Taxation Consultancy</h2>
                <article>
                  <h3>VAT Registration</h3>
                  <p>We assist and take charge of VAT registration of your business entity with the relevant authorities.  We ensure proper and timely registration in accordance with the requirements of the VAT Law to avoid penalties and fines.</p>
                  <h3>VAT Pre/Post Implementation</h3>
                  <p>Our world-class professional consultants are here to provide your business with their valuable services to make your business VAT-ready with regard to new VAT-regime w conduct VAT-Impact Analysis including Business Processes, Costing & Accounting records, Calculations & VAT Assessment, IT/Computer System modifications, Policies & Procedures, Sales Invoicing, Import & Export Invoicing, VAT-record keeping to align them with the requirements of VAT Law.  </p>
                  <p>We also provide post-VAT implementation consultancy to continue supporting your business at every juncture of VAT process, which requires continuous and untiring efforts.  Our consultants are available 24x7 to guide y</p>
                  <h3>VAT Calculations</h3>
                  <p>VAT Calculations require careful computation of input and output VAT figures on all commodities & services on which VAT is compulsory.  Accountants, Sales & Purchase Executives need to understand the complications involved in calculation of VAT.  As wrong calculations may lead to operational losses due to non-collection of VAT on account of Sales and failure to claim VAT credit on Purchases.</p>
                  <h3>VAT Accounting</h3>
                  <p>VAT Accounting needs a great deal of care and caution, debit and credit to wrong accounts may lead to improper reflection of gross, net and operating profits in accounts.  Moreover, assets and liabilities may reflect wrong positions in the balance sheet.  Therefore, accounting entries and ledger accounts as per international accounting standards and tax authorities are to be maintained to reflect the true position of income, expenditure, assets and liabilities. </p>
                  <h3>VAT Systems Upgrade</h3>
                  <p>In order to accommodate the provisions of VAT in computer application systems for invoicing, generating purchases and sales orders in including accounting softwares, our consultants will help you amend/modify your business systems to comply with the requirements of VAT regime.</p>
                  <h3>VAT Records & Maintenance</h3>
                  <p>The authorities require the businesses to record and maintain record of all transactions of VAT-charged on Sales and paid on Purchases to ensure that proper amount of VAT is collected and reimbursed to tax authorities and to assess the VAT credit.  With our knowledgeable consultants, who has previous experience of VAT laws in European and Indian subcontinent, we make it easy for you to comply with this requirement of VAT law. </p>
                  <h3>VAT Return Filing & Advice</h3>
                  <p>Timely filing of monthly/quarterly VAT returns with accurate information is of immense importance, failure to file VAT return within the stipulated timeline attracts penalties and fines, thus resulting in unnecessary costs and cash outflows.    Our consultancy ensures filing of VAT return well before the deadline set by the authorities.</p>
                  <h3>VAT Assessment</h3>
                  <p>PRUDENCE ensures regular follow-up and accurate assessment of VAT liability and resolution of any VAT litigation.</p>
                  <h3>VAT Payment /Credit Refund</h3>
                  <p>Reimbursement of VAT collected on Sales and paid on Purchases need accurate calculations and timely deposit of funds with careful assessment of VAT credit to be set-off against the VAT collections.  PRUDENCE helps you in payment and credit of VAT.</p>
                  <h3>VAT Retainership / Agency</h3>
                  <p>Prudence provides VAT retainership to ensure continuous consultancy services during the course of your journey as a VAT obligant.  We also arrange agency services to represent our clients to FTA for VAT related matters and solve issues relate to VAT assessment, refund and claim related to our client businesses.</p>
                  <h3>Excise Duty & Corporate Tax</h3>
                  <p>We also provide advice about Excise Duty and Corporate taxation to corporates which are under obligations to pay Excise Duty and Corporate Tax.</p>
                  <h3>NRI Income Tax & Wealth Tax </h3>
                  <p>PUDENCE Consultants help in filing the income tax return of Resident & Non-Resident Indians (NRIs) staying in or outside India.  Full services like obtaining PAN Card, Tax Calculations, Filing, Payment and Refund of Income and Wealth Taxes are undertaken. </p>
                </article>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal taxmodal -->
<div class="portfolio-modal modal fade" id="consultancymodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- Project Details Go Here -->
            <h2 class="text-uppercase">Consultancy Services</h2>
            <article>
              <h3>Project Feasibility Study</h3>
              <p>To help you in conducting the feasibility of new projects or investments for short, medium and long time horizons, our experts in this field would provide you with the meaningful studies, analyses and reports to arrive at investment decisions.</p>
              <h3>Project Progress Reports</h3>
              <p>For ongoing projects, the present status of completion, work done, stage of completion, related costs and revenues (cash flows) are studied and provided in the form of reports with analyses for proper control over ongoing project and their timely completion.</p>
              <h3>Business Strategy Plans</h3>
              <p>Chalking out business strategy plans for future to face any turbulent environment is of utmost importance.  It needs great deal of all stake holder efforts to arrive at strategy which is sustainable and able to face the peers. Our expertise in this field, would be of good help in providing assistance.</p>
              <h3>Business Valuation</h3>
              <p>Valuation of Business in terms of goodwill, assets and liabilities, buying and selling of businesses/units, along with contingencies requires expertise and experience, PRUDENCE in this aspect is professionally equipped with the required skills to carry out accurate assessment of your business.</p>
              <h3>Preparing Policies & Standard Operating Procedures (SOPs) Manual</h3>
              <p>Policies need alignment with the specific and general corporate strategies and support achievement of organizational goals.  Standard Operating Procedures (SOPs) are needed to give proper guidance and direction to operational staff to carry their daily duties in an organized, defined and systematic manner.  SOPs adhering to corporate policies minimize the instances of fraud, mistakes, non-compliance to regulatory authorities and help effective implementation of corporate strategies.</p>
            </article>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal taxmodal -->
<div class="portfolio-modal modal fade" id="accountingmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- Project Details Go Here -->
            <h2 class="text-uppercase">Financial Consultancy</h2>
            <p>PRUDENCE financial consultancy experts carry out extensive assessment of your financial position to determine your financial planning requirements.  Restructuring of existing assets portfolio, internal and external liabilities to match your cash flows and risk management in accordance with your risk appetite is done to minimize risks and optimize returns on your investments. </p>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal taxmodal -->
<div class="portfolio-modal modal fade" id="auditingmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- Project Details Go Here -->
            <h2 class="text-uppercase">Accounting Services</h2>
            <h3>Book-Keeping & Financial Accounting</h3>
            <article>
              <p>As per the new VAT law all businesses are required to maintain their records of financial transactions.  Therefore, all corporate are required by law to maintain proper books of accounts to assess VAT and other taxes to enable the authorities to correctly assess the VAT liability and VAT credits of the businesses.  Book-keeping and Financial Accounting are required to be maintained as per law, PRUDENCE is here to help you keep the books of primary financial entries and ledger accounts to fulfil the requirements of the law.  PRUDENCE also undertakes responsibility of completing the accounting work and supporting the organizations where there are no accountants in your business or when the accountants and finance managers are on vacation.
                Our responsibilities include Maintenance of Books of Accounts in manual records and accounting software, Accountant Services, Backlog Work Updation, Preparing Manufacturing, Trading, Profit & Loss Statement, Balance Sheet, Management of Receivables & Payables, Receivables/Stock Ageing and Ratio Analysis etc. </p>
            </article>
            <h3>Management Accounting</h3>
            <p>Accounting at managerial levels needs background in accountancy to master the Preparation of Budgets, Capital/Revenue Budgets, Cash Flow & Fund Flow Statements / MIS Reports, Projections & Forecasting & Investment Decisions.  Improper and lack of expertise would make all these efforts futile.  You can avail of our services and judge the difference in your business.</p>
            <h3>Cost Control & Accounting</h3>
            <p>Very few corporate derive the benefits of cost accounting due to lack of knowledge and expertise in this crucial branch of Accountancy.  Cost Accounting facilitates assessment proper cost of manufacturing products at each level of production activity, cost of providing services, avoiding wastages and damages, identifying fraud and errors etc.  Businesses which apply Cost Control & Costing Techniques benefit a lot compared to their peers and remain competitive in the markets.  Cost Calculations, Cost Accounting & Records, Process & Output Costing, Job & Contract Costing and Break-Even Analysis if done in a timely manner would increase return on capital. </p>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal taxmodal -->
<div class="portfolio-modal modal fade" id="financialmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <!-- Project Details Go Here -->
            <h2 class="text-uppercase">Auditing Services</h2>
            <h3>Auditing, Assurance & Compliance Services</h3>
            <p>To meet the requirements of companies and taxation acts of the country, corporates are required to get their books of accounts audited to provide assurance to owners and other stakeholders on position of business.  Moreover, in terms of compliance proper practices are to be followed and reports submitted to the regulatory authorities on periodic basis.  Our services in this regard include arrangement for external audits and auditors to carry out the external, internal audits, internal control review and compliance assessment.  Specific functional and unit audits also are conducted to provide assurance on the functioning of the units.  </p>
            <p><b>Internal audit</b> in functional areas, operational units, risk management, credit control, financial and human resources management including administrative areas and IT are conducted to provide assurance.  Our staff also conduct stock taking and physical verification of assets.  Fraud investigation and inspection of specific areas/concerns are taken care including money laundering issues.</p>
            <h3>Accounting Softwares & Solutions</h3>
            <p>We have a tie-up with the suppliers of various accounting software applications to computerize your accounting function and provide ERP solutions.  We assist you fully automate the accounting and related aspects of your business.  Some of the accounting we deal are Tally ERP 9, Focus, PeachTree, QuickBooks, Sage, PACT, Zoho, and Other Accounting & Business Softwares</p>
            <h3>In-house Practical Trainings & Workshops</h3>
            <p>Staff need continuous training and practice to equip themselves with latest technology, best practices and changing regulations.  We conduct in-house practical training and workshops at your premises or any designed places to training your staff and improve and update them about the latest technology, laws and dynamic practices being adopted in this everchanging world. </p>
            <button class="btn btn-primary" data-dismiss="modal" type="button">
              <i class="fa fa-times"></i>
              Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal taxmodal -->
<div class="portfolio-modal modal fade" id="bussinessmodal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
              <!-- Project Details Go Here -->
              <h2 class="text-uppercase">Business Process Outsourcing (BPO) Services</h2>
              <p>Corporates today are shifting their management and functional burden to other organizations to cut down cost and enable themselves to concentrate on core business issues.  Therefore, outsourcing became a buzz word in today’s corporate world.  We provide assistance, guidance and expertise from registration of your business, PRO services, human resources management, IT maintenance & services, book-keeping & accounting to sales and purchase functions etc. at extremely competitive low cost. </p>
              <button class="btn btn-primary" data-dismiss="modal" type="button">
                <i class="fa fa-times"></i>
                Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="js/calendar.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/readmore.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.js"></script>
<script src="js/submitform.js"></script>

<script>
    $('article').readmore({speed: 500});
</script>

</body>
</html>
